{% extends 'core/base.html' %}

{% block title %} Quiz {% endblock %}

{% block header %} FORMULARIO DE EVALUACION DEL DESEMPEÑO 2022 FUNCIONARIOS ADMINISTRATIVO. {% endblock %}

{% load utils %}

{% block content %}
        <table class="table table-borderless">
        <tbody>
            <tr>
                <th>Nombre del Evaluado/a</th>
                <td>{{ quiz.evaluation.evaluated }}</td>
                <th>Cargo con el que se evalua</th>
                <td>{{ quiz.evaluation.evaluated.job }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ quiz.evaluation.evaluated.employee_id }}</td>
                <th>Fecha de Ingreso</th>
                <td>{{ quiz.evaluation.evaluated.hire_date }}</td>
            </tr>
            <tr>
                <th>Jefe Inmediato</th>
                <td>{{ quiz.evaluator }}</td>
                <th>Unidad/Area</th>
                <td>{{ quiz.evaluation.evaluated.departament }}</td>
            </tr>

        </tbody>
    </table>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> [{{ quiz.quiz_type.name }}] - {{ quiz.evaluation.evaluated }} </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm" method="post">
                <div class="card-body">
                    {% csrf_token %}
                    <input type="hidden" name="quiz_id" value="{{ quiz.id }}" />
                    {% for category in quiz.evaluation.evaluation_process.question_category.all %}
                        <div class="form-group">
                            <h4>{{ category }}</h4>
                        </div>
                        {% for section in category.section.all %}
                            <div class="form-group">
                                <strong>{{ section }}</strong>
                            </div>
                            {% for question in section.question.all %}
                                <div class="form-group">
                                    {{ question }}
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="answer{{ question.id }}" value=3 id="choice3{{ question.id }}" required/>
                                            <label class="form-check-label" for="choice3{{ question.id }}">Muy Desarrollado</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="answer{{ question.id }}" value=2 id="choice2{{ question.id }}"/>
                                            <label class="form-check-label" for="choice2{{ question.id }}">Desarrollado</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="answer{{ question.id }}" value=1 id="choice1{{ question.id }}"/>
                                            <label class="form-check-label" for="choice1{{ question.id }}">Poco Desarrollado</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="answer{{ question.id }}" value=0 id="choice0{{ question.id }}"/>
                                            <label class="form-check-label" for="choice0{{ question.id }}">No Desarrollado</label>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="answer_id_{{ question.id }}" value="{{ answer | getAnswerId:question }}"/>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary"> Enviar </button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}