{% extends 'evaluations/basewizard.html' %}

{% load utils %}

{% block wizard %}
    <input type="hidden" name="quiz-TOTAL_FORMS" value="2" id="id_quiz-TOTAL_FORMS">
    <input type="hidden" name="quiz-INITIAL_FORMS" value="0" id="id_quiz-INITIAL_FORMS">
    <input type="hidden" name="quiz-MIN_NUM_FORMS" value="0" id="id_quiz-MIN_NUM_FORMS">
    <input type="hidden" name="quiz-MAX_NUM_FORMS" value="1000" id="id_quiz-MAX_NUM_FORMS">

    {% for f in form %}
        <div class="form-group">
        <label>{{ quiz_types | getField:forloop.counter }}</label>
        <input type="hidden" name="quiz-{{ forloop.counter|add:"-1" }}-category" value={{ quiz_types | getFieldId:forloop.counter }} id="id_quiz-{{ forloop.counter|add:"-1" }}-category">
        {{ f.evaluator }}
        </div>
    {% endfor %}
{% endblock %}