{% extends 'core/base.html' %}

{% block title %} Quiz {% endblock %}

{% block header %} FORMULARIO DE EVALUACION DEL DESEMPEÑO 2022 FUNCIONARIOS ADMINISTRATIVO. {% endblock %}

{% block content %}
        <table class="table table-borderless">
        <tbody>
            <tr>
                <th>Nombre del Evaluado/a</th>
                <td>{{ quiz.evaluation.evaluated }}</td>
                <th>Cargo con el que se evalua</th>
                <td>{{ quiz.evaluation.evaluated.job }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ quiz.evaluation.evaluated.employee_id }}</td>
                <th>Fecha de Ingreso</th>
                <td>{{ quiz.evaluation.evaluated.hire_date }}</td>
            </tr>
            <tr>
                <th>Jefe Inmediato</th>
                <td>{{ quiz.evaluator }}</td>
                <th>Unidad/Area</th>
                <td>{{ quiz.evaluation.evaluated.departament }}</td>
            </tr>

        </tbody>
    </table>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> [{{ quiz.quiz_type.name }}] - {{ quiz.evaluation.evaluated }} </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm" method="post">
                <div class="card-body">
                    {% csrf_token %}
                    <input type="hidden" name="quiz_id" value="{{ quiz.id }}" />
                    {% firstof "" as question_section %}
                    {% firstof "" as question_category %}
                    {% for answer in quiz.answer.all %}
                        {% if question_category != answer.question.question_section.question_category.name %}
                            <div class="form-group">
                                <h4>{{ answer.question.question_section.question_category.name }}</h4>
                            </div>
                        {% endif %}

                        {% if question_section != answer.question.question_section.name %}
                            <div class="form-group">
                                <strong>{{ answer.question.question_section.name }}</strong>
                            </div>
                        {% endif %}

                        {% if quiz.quiz_type.name == 'Autoevaluación' %}
                            <div class="form-group">
                                {{ answer.question.autoevaluation_content }}
                        {% else %}
                            <div class="form-group">
                                {{ answer.question }}
                        {% endif %}

                        {% if quiz.quiz_type.name == 'Heteroevaluación' %}
                            <input class="form-control" type="number" step="0.01" name="answer{{ forloop.counter }}" id="choice-{{ forloop.counter }}" required>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="answer{{ forloop.counter }}" value=3 id="choice-{{ forloop.counter }}" required/>
                                    <label class="form-check-label" for="choice-{{ forloop.counter }}">Muy desarrollado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="answer{{ forloop.counter }}" value=2 id="choice-{{ forloop.counter }}"/>
                                    <label class="form-check-label" for="choice-{{ forloop.counter }}">Desarrollado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="answer{{ forloop.counter }}" value=1 id="choice-{{ forloop.counter }}"/>
                                    <label class="form-check-label" for="choice-{{ forloop.counter }}">Poco Desarrollado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="answer{{ forloop.counter }}" value=0 id="choice-{{ forloop.counter }}"/>
                                    <label class="form-check-label" for="choice-{{ forloop.counter }}">No Desarrollado</label>
                                </div>
                            </div>
                            </div>
                        {% endif %}

                        <input type="hidden" name="answer_id_{{ forloop.counter }}" value="{{ answer.id }}"/>
                        {% firstof answer.question.question_section.question_category.name as question_category %}
                        {% firstof answer.question.question_section as question_section %}
                    {% endfor %}
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary"> Enviar </button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}